@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'),
       url('../fonts/roboto-v20-latin-regular.woff2') format('woff2'),
       url('../fonts/roboto-v20-latin-regular.woff') format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'),
       url('../fonts/roboto-v20-latin-500.woff2') format('woff2'),
       url('../fonts/roboto-v20-latin-500.woff') format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'),
       url('../fonts/roboto-v20-latin-700.woff2') format('woff2'),
       url('../fonts/roboto-v20-latin-700.woff') format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: local('Roboto Black'), local('Roboto-Black'),
       url('../fonts/roboto-v20-latin-900.woff2') format('woff2'),
       url('../fonts/roboto-v20-latin-900.woff') format('woff');
}
html{
  box-sizing: border-box;
}
*, *::before,*::after{
  box-sizing: inherit;
}
body{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
}
.wrapper{
  max-width: 314px;
  max-height: 3194px;
  margin: 0;
  float: left;
}
.wrapper__list{
  flex-wrap: wrap;
  padding-left: 50px;
  padding-right: 160px;
  padding-top: 150px;
  padding-bottom: 150px;
}
.wrapper__item{
padding-bottom: 30px;
font-family: 'Roboto';
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 24px;
color: #000000;
}
