@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'),
       url('../fonts/roboto-v20-latin-regular.woff2') format('woff2'),
       url('../fonts/roboto-v20-latin-regular.woff') format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'),
       url('../fonts/roboto-v20-latin-500.woff2') format('woff2'),
       url('../fonts/roboto-v20-latin-500.woff') format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'),
       url('../fonts/roboto-v20-latin-700.woff2') format('woff2'),
       url('../fonts/roboto-v20-latin-700.woff') format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: local('Roboto Black'), local('Roboto-Black'),
       url('../fonts/roboto-v20-latin-900.woff2') format('woff2'),
       url('../fonts/roboto-v20-latin-900.woff') format('woff');
}
html{
  box-sizing: border-box;
}
*, *::before,*::after{
  box-sizing: inherit;
}
body{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
    display: block;
  margin: 0 auto;
}
.block{
  width: 1440px;
  height: 4000px;
  margin: 0 auto;
}
#wrapper, #content, #conteiner {
  float: left;
  min-height: 100%;
}
#wrapper{
  width: 314px;
  max-height: 100%;
  margin: 0;
  float: left;
  border-right: 1px solid #E4E4E4;
}
.wrapper__list{
  padding-left: 50px;
  padding-right: 140px;
  padding-top: 150px;
  padding-bottom: 150px;
}

.wrapper__item{
  padding-bottom: 30px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
}
#content{
  width: 909px;
  max-height: 100%;
  font-family: 'Roboto';
  margin: 0;
  display: block;
  overflow: hidden;
}
.bread_crumbs{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
  opacity: 0.25;
}
.content__photo{
  width: 652px;
  height: 200px;
  left: 443px;
  top: 63px;
  overflow: hidden;
}
.middle{
  height: 200px;
  border: 1px solid white;
}
.child{
  display: inline-block;
}
.text{
  text-align: center;
  font-size: 500%;
  font-family: 'Roboto';
  margin-left: 40px;
  margin-top: 90px;
  margin-right: 200px;
  margin-bottom: 90px;
}
.table{
font-size: 150%;
}
span{
  font-weight: bold;
  display: inline-block;
    width: 1em;
  font-size: 20px;
}
#box{
  width: 909px;
  margin: 0 auto;
}
#left{
  width: 201px;
  float: left;
  margin: 20px;
  height: 150px;
}
#right{
  width: 354px;
  float: right;
  margin: 20px;
}
#central{
  margin: 0 354px 0 201px;
  margin: 20px;
}
.first{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}
.second{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
}
.third{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  opacity: 0.5;
}
#one{
  width: 290px;
  float: left;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 30px;
  margin-bottom: 80px;
  height: 400px;
}
#three{
  width: 290px;
  margin: 0 290px 0 290px;
  height: 400px;
}
#two{
  width: 290px;
  float: right;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 30px;
  margin-bottom: 80px;
  height: 400px;
}
#conteiner{
  width: 217px;
  height: 3194px;
  margin: 0;
  float: right;
  border-left: 1px solid #E4E4E4;
  border-top: 0px;

}
.conteiner__photo{
  left: 89.72%;
  right: 4.24%;
  top: 0;

  bottom: 96.52%;
  weight: 87px;
  height: 116px;
 }
.conteiner__item{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  padding-left: 18px;
  padding-right: 18px;
  padding-bottom: 30px;
  margin-top: 101px;
  text-align: center;
  text-align: inherit;
  overflow: hidden;
}
.group-link{
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  opacity: 0.5;
  margin-left: 20px;
  margin-top: 50px;
}
.a{
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 15px;
}
.b{
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  text-transform: capitalize;
  color: #000000;
  opacity: 0.5;
  margin-left: 20px;
}
